
.play-video-container{
    display: grid;
    grid-template-columns:70% 30% ;
}
.video{
    background: black;
    height:400px;
    width:100%

    
}
@media(max-width:920px){
    .play-video-container{
        grid-template-columns: 100%;
    }
    .video{
        width:100%;
        height:300px;
        position : sticky;
        top:8vh;
    }
}

@media(max-width:480px){
    .video{
        width:100%;
        height:240px;

    }
 
}