.home-container{
    position: relative;
    display: flex;
    justify-content: center;

}

.home{
    display: flex;
    flex-wrap: wrap;

    
}


.search-bar {
    position: absolute;
    top:0;
    width:100%;
    place-items: center;
    display: flex;
  }
  .search-icon {
    background: #ff7045;
    font-size: 28px;
  }
  .search-bar > input {
    width: 50%;
    height: 35px;
    outline: none;
    font-size: 20px;
    padding: 5px;
    border: 0;
    border-radius: 5px;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  .search-bar > input:focus {
    transform: scale(1.03);
  }
@media(max-width:960px){
    .home{
        display: flex;
        flex-wrap: wrap;
        justify-content: center; 
    }

}
