.home-container{
    display: flex;
    justify-content: center;

}

.home{
    display: flex;
    flex-wrap: wrap;

    
}
@media(max-width:960px){
    .home{
        display: flex;
        flex-wrap: wrap;
        justify-content: center; 
    }

}
