.historyVideo__title{
    font-size: 24px;
    font-weight:800;
    margin:10px 0px;

}

.historyVideo__items{
    display:grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    
}




.clearHistoryBtn{
    padding:7px 10px;
    font-weight:700;
    color:white;
    background-color: black;
    border:0;
    font-size: 16px;
    border-radius:5px;
    margin:15px 0px;
    
}

@media(max-width:720px){
    .historyVideo__items{
        grid-template-columns: 1fr ;
    }
}