.likedVideo__title{
    font-size: 24px;
    font-weight:800;
    margin:10px 0px;
    padding:20px

}

.likedVideo__items{
    display:grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;

    
}


@media(max-width:720px){
    .likeVideo__items{
        grid-template-columns: 1fr ;
    }
}
