header {
    height: 10vh;
    padding: 2px;
    display: flex;
    align-self: center;
    width: 95%;
    background: white;
    z-index: 9999;
    justify-content: space-between;
    position: fixed;
    top: 0;
  }
  .icon {
    font-size: 24px;
    margin: 0px 10px;
    cursor: pointer;
  }
  header >a{
    height:100%;
  }
  a > .logo {
    flex-grow: 0;
    height:100%;
    background: #ff7045;
    place-items: center;
    display: flex;
    width: fit-content;
    border-radius: 5px;
    cursor: pointer;
  }
  .logo > img {
    height: 100%;
  }
  .logo-name {
    background-color: black;
    color: white;
    font-weight: 600;
    padding: 4px;
    font-size: 14px;
    line-height: 1em;
    margin-left: 2px;
  }
  .logo-name > span {
    letter-spacing: 2px;
    color: #ff7045;
  }
  
  
  .header-menu {
    justify-content: center;
    place-items: center;
    display: flex;
  }

  .login-btn{
    background: black;
    padding:6px 10px;
    color:white;
    font-weight: 700;
    border-radius:4px;

  }
  .login-btn:active{
    cursor: pointer;
    background: black;
    transform : scale(0.9);
  }
  @media (max-width: 640px) {
    header{
      height: 8vh;
    }
    a > .logo {
      margin-left: 0;
    }
  
    .search-bar {
      justify-content: flex-end;
    }
  
    .search-bar > input {
      display: none;
    }
  
    .header-menu {
      flex-grow: 0;
    }
    .icon {
      font-size: 24px;
      font-weight: 600;
      margin: 0px 5px;
    }
  }
  