.content-container {
    margin-top: 10vh;
    display: flex;
    height:100%;
    
  }
  .content::-webkit::-webkit-scrollbar{
    width:0;
  }
  
  .content {
    width: 84%;
    margin-top: 1vw;
    max-height: 97%;
    margin-left: 15%;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 20px;
  }
  
  @media (max-width: 640px) {
    .content-container{
      margin-top:8vh;
    }
    .content {
      
      width: 90%;
      margin-left: 10vw;
      margin-right: 10px;
    }
  }
  @media (max-width: 480px) {
    .content-container {
      flex-direction: column-reverse;
    }
    .content {
      width: 100%;
      height: 90vh;
      margin: 0;
      padding: 0px;
      background: white;
    }
    .content-container::-webkit-scrollbar{
      width:0;
    }
  }
  